html {
  height:			100%;
}

body {
  height:			100%;
  margin:			0;
  font-family:		verdana, sans-serif;
  font-size:		16px;
  font-weight:		100;
  background-color:	slategrey;
}


h1, h2, h3, h4, h5, h6 {
  margin:			0;
  padding:			8px 0;
  font-family:		"Cutive", sans-serif;
}

h1 {
  font-size:		1.5em;
}

h2 {
  font-size:		1.35em;
}

p {
  margin:			0;
  padding:			8px 0;
}

.interface {
  min-height:		100%;
  max-width:		60em;
  margin:			0 auto;
  padding:			0 1em;
  background-color:	#ffffff;
}

.code,
.output {
  padding:			1em;
  border:			1px dashed #999999;
  background-color:	#fcfcfc;
}

.code .comment {
  color:			#999999;
  font-style:		italic;
}
/*
.code .instance {
  background-color:	#ffffcc;
}

.code .keyword {
  color:			#0000ff;
}

.code .method {
  color:			#0000ff;
}

.code .object {
  color:			#cc0000;
}

.code .string {
  color:			#666666;
}
*/

